@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  background-image: url("/img/garage_builder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  background-color: steelblue;
  justify-content: center;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  background-color: rgb(214, 211, 211);
  font-size: 3rem;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
}
.title {
  text-align: center;
  font-size: 2rem;
  color: rgb(13, 13, 168);
  margin: 10px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.6);
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.btn-text {
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(232, 220, 220);
}
p {
  text-align: center;
  font-size: 1rem;
  color: white;
}
.change-mode {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
}
